<div id="examples-wrapper">
  <h1>Inference Examples</h1>

  <div id="classification-container">
    <h2>1. Text Classification</h2>
    <mat-form-field style="width: 500px; height: 200px;">
      <mat-label>Text to classify</mat-label>
      <textarea [(ngModel)]="classificationInput" matInput placeholder="Ex. I like dogs more than cats..."></textarea>
    </mat-form-field>
    <pre>{{classificationResult | json}}</pre>
    <button (click)="classify()" color="primary" mat-raised-button>Classify</button>
  </div>

  <div id="keyword-container">
    <h2>1. Text Classification</h2>
    <mat-form-field style="width: 500px; height: 200px;">
      <mat-label>Text to classify</mat-label>
      <textarea [(ngModel)]="classificationInput" matInput placeholder="Ex. I like dogs more than cats..."></textarea>
    </mat-form-field>
    <pre>{{classificationResult | json}}</pre>
    <button (click)="classify()" color="primary" mat-raised-button>Classify</button>
  </div>
</div>
