#examples-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#classification-container {
  display: flex;
  flex-direction: column;
}
