<h1>Hugging Face Access Token</h1>
<p>Currently is no access token used, provide your access token to raise the rate limits.</p>
<a href="https://huggingface.co/docs/hub/security-tokens" target="_blank">More about access tokens</a>

<form (submit)="submit()" [formGroup]="tokenForm">
  <mat-form-field appearance="fill">
    <mat-label>Enter your access token</mat-label>
    <input [type]="hide ? 'password' : 'text'" formControlName="token" matInput>
    <button (click)="hide = !hide" [attr.aria-label]="'Hide token'" [attr.aria-pressed]="hide" mat-icon-button
            matSuffix>
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button [color]="tokenForm.value.token ? 'primary' : 'warn'" [disabled]="!tokenForm.valid || tokenForm.pristine"
          mat-raised-button type="submit">
    {{tokenForm.value.token ? 'Save' : 'Remove'}}
  </button>
</form>
